#app .bg-info {
  background-color: #10ccf4 !important;
}

#app .bg-secondary {
  background-color: #6c757d !important;
}

#app .text-white {
  color: #ffffff !important;
}

#calculator, #countdown, #quotes {
  .col1 {
    max-width: 1200px;
    margin: 1vh auto 0;
    background: $white;
    padding: 2rem;
  }

  form {
    margin-top: 3rem;
  }
}

.navbar-nav > li{
  @media screen and (max-width: 990px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}