#calculator {
  .col1 {
    max-width: 1200px;
    margin: 3vh auto 0;
    background: $white;
    padding: 2rem;
  }

  form {
    margin-top: 3rem;
  }
}

.navbar-nav > li{
  @media screen and (max-width: 990px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}