#calculator {
  .col1 {
    max-width: 1200px;
    margin: 3vh auto 0;
    background: $white;
    padding: 2rem;
  }

  form {
    margin-top: 3rem;
  }

  .success {
    color: $success;
    margin: 0.5rem 0 -2rem;
  }
}

.navbar-nav > li{
  padding-left: 30px;
  padding-right: 30px;
}